@font-face {
    font-family: 'Philosopher';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    src: url('./fonts/Philosopher/Philosopher-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/Philosopher/Philosopher-BoldItalic.ttf') format('truetype');
}

* {
    font-family: 'Philosopher', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-image: url(./img/body-bg.jpg);
    background-size: 13%;
    background-attachment: fixed;
}

#pageContainer {
    position: relative;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    height: 100%;
    width: 75%;
}

#formContainer {
    grid-row: 2 / 3;
    background-color: rgb(243, 220, 9);
    height: 100%;
    display: flex;    
    justify-content: center;
}

form {
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    margin: auto;
    background-color: rgba(8, 8, 75, 0.966);
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

form :first-child {
    font-size: 2em;
    position: absolute;
    top: 3%;
    left: 10%;
}

form button {
    font-size: 1.5em;
    color: rgba(8, 8, 75, 0.966);
    background-color: rgb(236, 236, 53);
    border: 1px solid transparent;
    border-radius: 10px;
    width: 160px;
    height: 70px;
    margin-bottom: 20px;
}

form button:hover {
    color: rgba(8, 8, 75, 0.966);
    background-color: rgb(240, 240, 175);
}

form textarea {
    padding: 5px 5px;
    font-size: 1rem;
    resize: none;
}

input {
    font-size: 1em;
    padding-left: 20px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 0px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    grid-row: 1 / 2;
    margin: 0;
    background-color: rgba(8, 8, 75, 0.966);
    width: inherit;
    box-shadow: 0px 9px 16px -6px rgba(5,5,5,1);
}

ul {
    font-size: 2rem;
    color: white;
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 30px;
}

header div {
    margin: 10px 0 5px 10px;
    width: 80px;
    height: 80px;
}

#mainContent {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.welcome {    
    background-image: url(./img/welcome-bg.jpg);
    grid-row: 1 / 2;
    margin-bottom: 30px;
}

.welcome h1 {
    padding-left: 5%;
    margin-top: 10%;
    font-family: 'Philosopher', sans-serif;
    font-size: 4em;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.welcome h2 {
    text-align: end;
    margin-left: 40%;
    margin-top: 25%;
    padding-right: 8%;
    font-family: 'Philosopher', sans-serif;
    font-size: 3em;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.info {
    color: rgb(18, 28, 121);
    font-size: 1.5em;
    background-image: url(./img/info-bg.jpg);
    background-size: 115%;
    font-weight: 700;
    grid-row: 2 / 3;
}

.info :first-child {
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.295);
    padding-right: 8%;
    padding-left: 5%;
    word-spacing: 1px;
}

.info :last-child {
    background-color: rgba(255, 255, 255, 0.295);
    padding-right: 8%;
    padding-left: 5%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(8, 8, 75, 0.966);
    grid-row: 3 / 4;
}

footer img {
    height: 50px;
    width: auto;
}

a:visited {
    color: white;
}